.campus_mainDiv {
    border: 1px solid #50cf15;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.campus_mainDiv img {

    width: 100%;
}

.campus_mainDiv hr {
    width: 230px;
}

.campus_mainDiv h5,
.campus_mainDiv p {
    margin-left: 20px;
}
.acheive_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}
.acheive_head i {
    float: right;
}
.acheive_text span {
    color: #ff7700;
}
.new_li {
    margin-top: 13px;
}
.new_li h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}
.new_li img {
    border-radius: 25px;
}
.new_li p {
    margin-top: 10px;
}
#footer {
    height: 20px;
    background-color: white
}